{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <h1>Inscription</h1>

    <section class="section_register_login">
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
            
            <div class="form_submit">
                <button type="submit" class="btn">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </section>


{% endblock %}
