{% extends 'base.html.twig' %}

{% block title %}Ajout Stagiaire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <h1>Ajout d'un Stagiaire</h1>

    <section class="section_register_login">
        {{ form_errors(formStagiaire) }}

        {{ form_start(formStagiaire) }}
                {{ form_row(formStagiaire.email) }}
                {{ form_row(formStagiaire.nom) }}
                {{ form_row(formStagiaire.prenom) }}
                {{ form_row(formStagiaire.dateNaissance) }}
                {{ form_row(formStagiaire.telephone) }}

            <div class="form_submit">
                <button type="submit" class="btn">Ajouter</button>
            </div>
        {{ form_end(formStagiaire) }}
    </section>


{% endblock %}
