{% extends 'base.html.twig' %}

{% block title %} {{ categorie}} {% endblock %}

{% block body %}

    <h1> {{ categorie }} </h1>

    <section class="section_ficheCategorie">

        <div class="infoSession">
            <h2>Sessions prévues</h2>

            {% for session in categorie.sessions %}
                <div class="container_session">
                    <a href="{{ path('app_ficheSession', {'id': session.id}) }}">
                        {% if (session.Stagiaires) | length < session.nbrPlace %}
                            <div class="status_session_open"></div>
                        {% else %}
                            <div class="status_session_close"></div>
                        {% endif %}
                        <span class="title_session">
                            {{ session.nomSession }}
                        </span>
                    </a>
                    <div class="session_arrowUpDown">
                        <i class="display_detailsSession ri-arrow-up-s-line"></i>
                        <i class="ri-arrow-down-s-line"></i>
                    </div>
                </div>

                <div class="display_detailsSession container_info_session">
                    <div>
                        Nombre de place : {{ session.nbrPlace }}
                    </div>
                    <div>
                        Place réservé : {{ session.Stagiaires | length }}
                    </div>
                    <div>
                        Place libre : {{ session.nbrPlace - (session.Stagiaires | length) }}
                    </div>
                    <div class="details">
                        Détails
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="infoLecon">
            <h2>Modules présents</h2>
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lecon in categorie.lecons %}
                        <tr>
                            <td>{{ lecon }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
