{% extends 'base.html.twig' %}

{% block title %}Ajout Formateur{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {% if edit %}
        <h1>Modification d'un Formateur</h1>
    {% else %}
        <h1>Ajout d'un Formateur</h1>
    {% endif %}

    <section class="section_register_login">
        {{ form_errors(formFormateur) }}

        {{ form_start(formFormateur) }}
                {{ form_row(formFormateur.email) }}
                {{ form_row(formFormateur.nom) }}
                {{ form_row(formFormateur.prenom) }}

            <div class="form_submit">
                {% if edit %}
                    <button type="submit" class="btn">Modifier</button>
                {% else %}
                    <button type="submit" class="btn">Ajouter</button>
                {% endif %}
            </div>
        {{ form_end(formFormateur) }}
    </section>


{% endblock %}
