{% extends 'base.html.twig' %}

{% block title %}Listes des Formateurs{% endblock %}

{% block body %}

    <h1>Liste des Formateurs</h1>

    <section class="section_listesFormateursStagiaires">
        <table>
            <thead>
                <tr>
                    <th>Nom Prenom</th>
                    <th>Email</th>
                    <th>Sessions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for formateur in formateurs %}
                <tr>
                    <td>{{ formateur.nom }} {{formateur.prenom}}</td>
                    <td>{{ formateur.email }}</td>
                    <td class="nbr_session">{{ formateur.sessions | length }}</td>
                    <td><a href="{{ path('app_ficheFormateur', {'id' : formateur.id} ) }}" class="container_formateur_stagiaire"><i class="ri-eye-line"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}
